.gym-environment {
    display: flex;
    flex-direction: column-reverse; /* Reverte a posição da imagem para cima e não pra baixo como padrão de column */
    margin-top: 4rem;
}

.gym-environment__title {
    margin-top: 1.5rem;
}

.gym-environment__content {
    margin-top: 1.5rem;
}

.gym-environment__image {
    max-width: 100%;
    align-self: center;
}

@media (min-width: 768px) {
    .gym-environment {
        margin-top: 8rem;
    }
}

@media (min-width: 900px) {
    .gym-environment {
        margin-top: 10rem;
        flex-direction: row;
    }

    .gym-environment__description-container {
        padding-right: 3rem;
    }

    .gym-environment__image {
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .gym-environment {
        margin-top: 2rem;
    }

    .gym-environment__title {
        font-size: 2.5rem;
        margin-right: 3rem;
    }

    .gym-environment__image {
        max-width: 45%;
    }

    .gym-environment__content {
        font-size: 1.2rem;
        margin-right: 14rem;
    }
}